<div class="column">
  <div class="panel is-light">
    <p class="panel-heading">Top trends</p>

    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <a href="#" class="">#trend 1</a>
        </div>
      </div>
    </div>

    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <a href="#" class="">#trend 2</a>
        </div>
      </div>
    </div>

    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <a href="#" class="">#trend 3</a>
        </div>
      </div>
    </div>

    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <a href="#" class="">#trend 4</a>
        </div>
      </div>
    </div>
  </div>
</div>
