<div class="column is-3">
  <div class="panel is-light">
    <p class="panel-heading">Who to follow</p>

    <div class="panel-block">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Dipesh Bajgain</strong> <br>
              <small>@dipbazz</small>
            </p>
          </div>
        </div>
        <div class="media-right">
          <a href="#" class="button is-outlined is-link is-rounded is-small">follow</a>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Dipesh Bajgain</strong> <br>
              <small>@dipbazz</small>
            </p>
          </div>
        </div>
        <div class="media-right">
          <a href="#" class="button is-outlined is-link is-rounded is-small">follow</a>
        </div>
      </article>
    </div>

    <div class="panel-block">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Dipesh Bajgain</strong> <br>
              <small>@dipbazz</small>
            </p>
          </div>
        </div>
        <div class="media-right">
          <a href="#" class="button is-outlined is-link is-rounded is-small">follow</a>
        </div>
      </article>
    </div>
  </div>
</div>
